/* ==========================================================================
Buttons
========================================================================== */
.btn {
  @include font-size(16);

  border-radius: 10px;
  font-weight: $font-weight-bold;
  text-transform: none !important;

  &:focus {
    box-shadow: none;
  }
}
