/* ==========================================================================
Maps
========================================================================== */
#appointment-maps {
  @extend .w-100;
  @extend .vh-100;
}

/* ==========================================================================
Google Places Autocomplete
========================================================================== */
.google-places-autocomplete {
  @extend .position-relative;
}

.google-places-autocomplete__suggestions-container {
  @extend .bg-white;
  @extend .position-absolute;
  @extend .rounded;
  @extend .shadow-sm;

  left: 0;
  right: 0;
  z-index: 1;
}

.google-places-autocomplete__suggestion {
  @extend .px-2;
  @extend .py-1;

  cursor: pointer;

  &:hover {
    background-color: #ced4da;
  }
}

.gm-style-iw-d {
  max-width: 250px !important;
}
