/* ==========================================================================
Accessoire Item
========================================================================== */
.accessoire__item {
  @extend .py-1;
  @extend .shadow-sm;

  border: 2px solid $white;
  cursor: pointer;
  transition: all .25s;

  &:hover {
    border: 2px solid $theme-primary;
  }

  &.active {
    .custom-checkbox {
      .custom-control-label {
        &:before {
          @extend .bg-theme-primary;

          border-color: $theme-primary;
        }
      }
    }
  }
}
