/* ==========================================================================
Towbar Item
========================================================================== */
.towbar__item {
  @extend .shadow-sm;

  border: 2px solid $white;
  cursor: pointer;
  transition: all .25s;

  &:hover {
    border: 2px solid $yellow;
  }

  &.active {
    border: 2px solid $theme-primary;
  }

  @include media-breakpoint-up(sm) {
    .card-body {
      text-align: center;
    }
  }


}

.towbar__footer {
  background: none;
  border: 0;

  @include media-breakpoint-down(sm) {
    padding: 1.25rem;
  }
}
