/* stylelint-disable */

/* ==========================================================================
Calculate REM and fallback
========================================================================== */
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Position Mixin
@mixin position(
  $pos: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/* stylelint-enable */
